/* Dark mode styles */

:root {
    /* Should make it easier to change colors in the future */
    --text: #0c0a0a;
    --background: #87d873;

    --button-hover: rgb(207, 212, 204);
    --button-selected: #0cb460;
    --fieldset-color: #31df88;

    --column-1: #5ca34b;
}

a.links-lighten {
    color: #3f5085;
}

a.links-lighten:hover {
    color: #51586d;
}

a.links-lighten:visited {
    color: #59416e;
}

a.links-lighten:visited:hover {
    color: #3d3846;
}
/* Select2 Dropdown stylings */

.select2-container .select2-choice {
	background: var(--background);
	background-image: linear-gradient(#67eab9, 70%, #8cd985);
	color: var(--text);
}

